*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
build-defs.h
config.cache
config.guess
config.log
config.status
config.sub
configure
configure.in
driver
install-sh
libtool
ltconfig
ltmain.sh
mhash_config.h
mhash_config.h.in
missing
mkinstalldirs
stamp-h
stamp-h.in
